<div class="container">
  <h1 class="company">ERICSSON ENTERPRISE</h1>
  <h4 class="login">Enter your Login Details</h4>

  <form action="/action_page.php">
    
    <div class="row">
      <div class="col-25">
        <label for="fname">User Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="user" name="userName" placeholder="Enter your user name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="password">Password</label>
      </div>
      <div class="col-75">
        <input class="pword" type="password" id="password" name="password" placeholder="Enter your password..">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
